.clear-both {clear: both;}
.align-center {text-align: center;}
.overflow-hidden {overflow: hidden;}
.opacity-lazyload {
  transition: all 0.2s;
  opacity: 1;  
  &--hidden {
    opacity: 0;   
  }
};
.opacity-layer {
  //opacity: 0;
  &--hidden-noanimate {
    opacity: 0;
  }
  &--hidden {
    transition: all 0.5s;
    opacity: 0;
  }
  &--show {
    transition: all 0.5s;
    opacity: 1;
  }  
}