// Colors
$red: #F34611;
$dark-blue: #182943;
$violet: #AFBDFF;
$white: #fff;

// Typography
$default-font-family: 'Baloo Tammudu', cursive;
$secondary-font-family: 'Poppins', sans-serif;
$default-font-wight: 400;
$default-font-size: 16px;
$secondary-font-size: 24px;
$primary-header-font-size: 50px;


$default-line-height: 1.2;
$base-line-height-paragraph : 1.4;
