.page-footer {
  color: $violet;
  margin: 60px 0 0;
  position: relative;
  padding: 20px 0;
  text-align: center;
  &::before {
    background: $violet;
    content: "";
    height: 1px;
    left: 50%;
    width: 520px;
    position: absolute;
    transform: translate(-50%, 0);
    top: 0;
  }
}
